attrs==15.2.0
awsebcli==3.10.3
blessed==1.14.2
botocore==1.5.80
cement==2.8.2
certifi==2017.4.17
cffi==1.9.1
chardet==3.0.4
colorama==0.3.7
constantly==15.1.0
cryptography==1.6
cssselect==1.0.0
Django==1.11.3
docker-py==1.7.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.13.1
enum34==1.1.6
idna==2.5
incremental==16.10.1
ipaddress==1.0.17
jmespath==0.9.3
lxml==4.6.3
MySQL-python==1.2.5
parsel==1.1.0
pathspec==0.5.0
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycparser==2.17
PyDispatcher==2.0.5
pyOpenSSL==16.2.0
python-dateutil==2.6.1
pytz==2017.2
PyYAML==3.12
queuelib==1.4.2
requests==2.9.1
Scrapy==1.1.1
semantic-version==2.5.0
service-identity==16.0.0
six==1.10.0
tabulate==0.7.5
termcolor==1.1.0
Twisted==16.6.0
urllib3==1.21.1
w3lib==1.16.0
wcwidth==0.1.7
websocket-client==0.44.0
zope.interface==4.3.3
